<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item me-3">
          <%= link_to 'Restaurant List', restaurants_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'Create Restaurant', new_restaurant_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>
